#logo {
  background-image: url(images/ie/logo.png);
}
#service1 a {
  background-image: url(images/ie/servicelink_1.png);
}
#service2 a {
  background-image: url(images/ie/servicelink_2.png);
}
#service3 a {
  background-image: url(images/ie/servicelink_3.png);
}
#service4 a {
  background-image: url(images/ie/servicelink_4.png);
}
#service5 a {
  background-image: url(images/ie/servicelink_5.png);
}
#service1 a:hover {
  background-image: url(images/ie/servicelink_1_over.png);
}
#service2 a:hover {
  background-image: url(images/ie/servicelink_2_over.png);
}
#service3 a:hover {
  background-image: url(images/ie/servicelink_3_over.png);
}
#service4 a:hover{
  background-image: url(images/ie/servicelink_4_over.png);
}
#service5 a:hover {
  background-image: url(images/ie/servicelink_5_over.png);
}
#bannerphoto1 {
position:absolute;
right:265px;
top: 65px;
}
#bannerphoto2 {
position:absolute;
right:22px;
top: 65px;
}
#description {
  position:absolute;
  right:7px;
  background-image: url(images/ie/description-bg.png);
  bottom: -5px;
  width: 408px;
  height: 170px;
  padding: 40px 40px 0 40px;
}
#slider li{
  background-image: url(images/ie/quotes.png);
  }
#slider p{
  background-image: url(images/thoughtbubble.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top:3px;
  padding-bottom:3px;
  display:inline;
  }
#getstarted {
  bottom:0px;
  }